<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
</head>
<body>
    <div class="gallery">
        <ul>
             {% for image in images %}
            <li class="gallery-item">
                <a href="{{ url_for('custom_static', filename=image.filename) }}" target="_blank">{{ image.filename }}</a>
                {{ image.creation_time.strftime('%Y.%m.%d %H:%M:%S') }}
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
